<template id="footer-template">
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h4>Portfolio</h4>
                    <p>Creative developer and designer crafting digital experiences.</p>
                </div>
                <div class="footer-section">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="about.html">About</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Social</h4>
                    <ul>
                        <li><a href="https://github.com/pakhoii" target="_blank">GitHub</a></li>
                        <li><a href="https://www.facebook.com/p.anhkhoi.1/" target="_blank">Faceboook</a></li>
                        <li><a href="https://www.instagram.com/pa.khoiii/" target="_blank">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Portfolio. All rights reserved.</p>
                <ul>
                    <li><a href="policy.html">Privacy Policy</a></li>
                    <li><a href="policy.html">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </footer>
</template>