<template id="navbar-template">
    <script src="/assets/js/menu_toggle.js"></script>
    <nav class="navbar">
        <div class="container"> 
            <div class="nav-wrapper">
                <div class="logo">
                    <a href="/">
                        <img src="/assets/images/logo.svg" alt="Logo" width="80" height="80">
                    </a>
                </div>

                <div class="menu">
                    <button class="menu-toggle" aria-label="Toggle menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <div class="nav-menu">
                        <ul class="nav-menu-link">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="skills.html">Skills</a></li>
                            <li><a href="projects.html">Projects</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <button class="theme-toggle" aria-label="Toggle dark mode">🌙</button>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>
</template>